@model IEnumerable<AgendaMedica.Models.Especialidade>

@{
    ViewData["Title"] = "Especialidades";
}

<div class="container text-light mt-5">
    <h1 class="text-center display-5">Cadastro de <span class="fw-bold">Agendamentos</span></h1>
    <p>
        <a asp-action="Create" class="btn btn-outline-light btn-lg w-25">Adicionar Novo Agendamento</a>
    </p>
    <table class="table table-light table-striped table-borderless">
    <thead>
        <tr class="text-dark">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                    <a class="btn btn-outline-dark btn-sm me-2" asp-action="Edit" asp-route-id="@item.EspecialidadeId">Editar</a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.EspecialidadeId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>